#header {
  border: 1px green solid;
  background-color: Azure;
  height: 90px;
}

#header .logo {
  float: left;
  border: 1px red solid;
  text-align: ;
}

#header .nav {
  float: right;
  border: 1px red solid;
}

#header .nav li {
  float: right;
  border: 1px red solid;
}
